.blox { clear:both; background:#ffffff; position:relative; }
/*.blox .vc_column-inner { padding: 0px; }*/
.blox.wpb_column { clear:none; margin-bottom:0; }
.blox.full-container .container { padding-left:0; padding-right:0; width:auto; max-width:none; }

.vc_special_dreamhome p {
 color: rgb(126, 140, 153) !important;
    font-family: "Lato",sans-serif !important;
    font-size: 16px;
    line-height: 1.8 !important;
}

.vc_special_dreamhome p strong {
 color: rgb(126, 140, 153);
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.8; 
}

/* Dreamhome Vertical Distance Margin Design */
.dreamhome-vertical-space1,
.dreamhome-vertical-space2,
.dreamhome-vertical-space3,
.dreamhome-vertical-space4,
.dreamhome-vertical-space5 {
	width:100%;
	height: auto;
	background-color: #0f0f0f;
	display: inline-block;
	width: 100%;
}
.dreamhome-vertical-space1 {
	margin-top: 20px;	
}
.dreamhome-vertical-space2 {
	margin-top: 40px;	
}
.dreamhome-vertical-space3 {
	margin-top: 60px;
}
.dreamhome-vertical-space4 {
	margin-top: 80px;
}
.dreamhome-vertical-space5 {
	margin-top: 100px;
}

/* dreamhome Title Style*/
.max-title h1,
.max-title h2,
.max-title h3,
.max-title h4,
.max-title h5,
.max-title h6 {
	color: #5738ad;
    font-family: "Montserrat",sans-serif !important;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
    width: 100%;
}
.max-title h1 span,
.max-title h2 span,
.max-title h3 span,
.max-title h4 span,
.max-title h5 span,
.max-title h6 span {
	position: relative;
}
.max-title h1 span.title_with_icon,
.max-title h2 span.title_with_icon,
.max-title h3 span.title_with_icon,
.max-title h4 span.title_with_icon,
.max-title h5 span.title_with_icon,
.max-title h6 span.title_with_icon {
	margin-top: 35px;
	display: inline-block;
}
.max-title h1 span.title_with_icon:before,
.max-title h2 span.title_with_icon:before,
.max-title h3 span.title_with_icon:before,
.max-title h4 span.title_with_icon:before,
.max-title h5 span.title_with_icon:before,
.max-title h6 span.title_with_icon:before {
	background: rgba(0, 0, 0, 0) url("../images/header_map_icon.png") no-repeat scroll center center;
	color: #5cb8eb;
	content: "";
	font-family: FontAwesome;
	height: 25px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: -35px;
}
.max-title h1 span.title_with_line.after:after,
.max-title h2 span.title_with_line.after:after,
.max-title h3 span.title_with_line.after:after,
.max-title h4 span.title_with_line.after:after,
.max-title h5 span.title_with_line.after:after,
.max-title h6 span.title_with_line.after:after {
	background: #1FC055 none repeat scroll 0 0;
    bottom: -20px;
    content: " ";
    height: 2px;
    position: absolute;
    width: 50px;
    left:0;
    right:0;
}
.max-title h1 span.title_with_line.before:before,
.max-title h2 span.title_with_line.before:before,
.max-title h3 span.title_with_line.before:before,
.max-title h4 span.title_with_line.before:before,
.max-title h5 span.title_with_line.before:before,
.max-title h6 span.title_with_line.before:before {
	background: #1FC055 none repeat scroll 0 0;
	top: -20px;
	content: "";
	height: 2px;
	position: absolute;
	width:50px;
	left:0;
	right:0;
}
.max-title h1 span.title_with_line.after.center:after,
.max-title h2 span.title_with_line.after.center:after,
.max-title h3 span.title_with_line.after.center:after,
.max-title h4 span.title_with_line.after.center:after,
.max-title h5 span.title_with_line.after.center:after,
.max-title h6 span.title_with_line.after.center:after,
.max-title h1 span.title_with_line.before.center:before,
.max-title h2 span.title_with_line.before.center:before,
.max-title h3 span.title_with_line.before.center:before,
.max-title h4 span.title_with_line.before.center:before,
.max-title h5 span.title_with_line.before.center:before,
.max-title h6 span.title_with_line.before.center:before {
	left: 0;
	right: 0;
	margin: auto;
}

.max-title h1 span.title_with_line.after.left:after,
.max-title h2 span.title_with_line.after.left:after,
.max-title h3 span.title_with_line.after.left:after,
.max-title h4 span.title_with_line.after.left:after,
.max-title h5 span.title_with_line.after.left:after,
.max-title h6 span.title_with_line.after.left:after,
.max-title h1 span.title_with_line.before.left:before,
.max-title h2 span.title_with_line.before.left:before,
.max-title h3 span.title_with_line.before.left:before,
.max-title h4 span.title_with_line.before.left:before,
.max-title h5 span.title_with_line.before.left:before,
.max-title h6 span.title_with_line.before.left:before {
	left: 0;
}

.max-title h1 span.title_with_line.after.right:after,
.max-title h2 span.title_with_line.after.right:after,
.max-title h3 span.title_with_line.after.right:after,
.max-title h4 span.title_with_line.after.right:after,
.max-title h5 span.title_with_line.after.right:after,
.max-title h6 span.title_with_line.after.right:after,
.max-title h1 span.title_with_line.before.right:before,
.max-title h2 span.title_with_line.before.right:before,
.max-title h3 span.title_with_line.before.right:before,
.max-title h4 span.title_with_line.before.right:before,
.max-title h5 span.title_with_line.before.right:before,
.max-title h6 span.title_with_line.before.right:before {
	right: 0;
}
.max-title.max-title1 h1,
.max-title.max-title1 h2,
.max-title.max-title1 h3,
.max-title.max-title1 h4,
.max-title.max-title1 h5,
.max-title.max-title1 h6  {
	font-size: 27px;
}
.max-title.max-title2 h1,
.max-title.max-title2 h2,
.max-title.max-title2 h3,
.max-title.max-title2 h4,
.max-title.max-title2 h5,
.max-title.max-title2 h6  {
	font-size: 21px;
}
.max-title.max-title3 h1,
.max-title.max-title3 h2,
.max-title.max-title3 h3,
.max-title.max-title3 h4,
.max-title.max-title3 h5,
.max-title.max-title3 h6  {
	font-size: 18px;
}
.max-title.max-title4 h1,
.max-title.max-title4 h2,
.max-title.max-title4 h3,
.max-title.max-title4 h4,
.max-title.max-title4 h5,
.max-title.max-title4 h6  {
	font-size: 16px;
}
.max-title.max-title5 h1,
.max-title.max-title5 h2,
.max-title.max-title5 h3,
.max-title.max-title5 h4,
.max-title.max-title5 h5,
.max-title.max-title5 h6  {
	font-size: 14px;
}
.max-title.max-title6 h1,
.max-title.max-title6 h2,
.max-title.max-title6 h3,
.max-title.max-title6 h4,
.max-title.max-title6 h5,
.max-title.max-title6 h6  {
	font-size: 12px;
}

@media (min-width: 768px ) and (max-width: 999px ) { 
	section.location_details .max-title h1 span.title_with_line.after::after, 
	section.location_details .max-title h2 span.title_with_line.after::after, 
	section.location_details .max-title h3 span.title_with_line.after::after, 
	section.location_details .max-title h4 span.title_with_line.after::after, 
	section.location_details .max-title h5 span.title_with_line.after::after, 
	section.location_details .max-title h6 span.title_with_line.after::after{
		bottom: -35px;
	}
	section.location_details .map_area #googleMap842{
		height: 546px !important;
	}
}
/* dreamhome Icon 1 Style */
.vc_column_container .vc_column-inner .property-attributes{
	width: 100% !important;
}
section.inner-page-features ul li{
	margin-bottom: 10px !important;
}
section.inner-page-features .iconbox2 i, section.inner-page-features .iconbox2 img {
    margin-right: 0px !important;
}
.property-attributes {
	margin-left: -15px;
	margin-right: -15px;
}
.property-attributes.box-border-top {
	border-top-style: solid;
	border-top-color: #e1e6ec;
	border-top-width: 1px;
}
.property-attributes.box-border-right {
	border-right-style: solid;
	border-right-color: #e1e6ec;
	border-right-width: 1px;
}
.property-attributes.box-border-left {
	border-left-style: solid;
	border-left-color: #e1e6ec;
	border-left-width: 1px;
}
.property-attributes.box-border-bottom {
	border-bottom-style: solid;
	border-bottom-color: #e1e6ec;
	border-bottom-width: 1px;
}
.padding-none .vc_column-inner{
	padding-right: 0px;
	padding-left: 0px;
}
.padding-none .property-attributes.sidebar-icon{
	margin:0px;
}
.agnet-contact-form.sidebar-contact-form form .ajax-loader{
	display: none;
}
.iconbox1 span {
    display: inline-block;
    width: 100%;
}
.iconbox1 .icon-title {
	color: #7e8c99;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    line-height: 3;
    margin-top: 5px;
}
.iconbox1 .icon-sub-title {
	color: #435061;
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0;
}
.iconbox1 .icon-quantity-figures {
	color: #435061;
	font-family: "Lato",sans-serif;
	font-size: 30px;
	margin-top: 0;
}
.iconbox1 i {
	color: #31a2e1;
	font-size: 25px;
}
.iconbox2 h4,
.iconbox3 h4 {
	clear: none;
	color: #435061;
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 0px;
}
.iconbox2 i,
.iconbox2 img {
	margin-right: 10px;
}
.iconbox2 i,
.iconbox3 i {
	height: 65px;
	width: 65px;
	border-radius: 50%;
	display: inline-block;
	line-height: 60px;
	font-size: 30px;
	text-align: center;
}
.iconbox3 img,
.iconbox3 i {
	margin-bottom: 10px;
}
.iconbox2 p,
.iconbox3 p {
	color: #7e8c99;
	font-family: "Lato",sans-serif;
	font-size: 15px;
	line-height: 1.432;
}
.services-we-offer-background-none {
    margin-bottom: 18px;
}
.dreamvilla_iconbox.services-we-offer{padding: 0px !important;}
.inner-feature-villa div {
    padding-right: 5px !important;
}
section.inner-features-villa .feature-villa div {
    padding-right: 5px !important;
}
.iconbox2 i{
	float:left;
	margin-bottom: 20px;
	margin-right: 20px;
}
@media (min-width: 200px ) and (max-width: 767px ) {
	section.about-property-outer .vc_col-sm-2 .vc_column-inner {
	    padding-right: 15px !important;
	}
	.about-property-outer .vc_col-sm-4 .vc_column-inner{
		padding-left: 0px !important;
	}
	.about-property-outer .vc_col-sm-8 .vc_column-inner{
		padding-right: 0px !important;
	}
	.about-property-outer .vc_col-sm-8 .vc_column-inner .property-attributes{
		width: 100% !important;
		border-bottom: 1px solid #ffffff; 
	}
	.about-property-outer .vc_col-sm-8 .vc_column_container.vc_col-sm-2:last-child .property-attributes{
		border-bottom: none !important; 
	}
	section.inner-page-features .vc_column-inner{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	section.inner-features-villa .feature-villa {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	}
	section.inner-features-villa .feature-villa .feature-villa-top{
		margin-top: 40px;
	}
	.padding-none .property-attributes.sidebar-icon{
		border-right: unset;
	}
}
@media (min-width: 768px ) and (max-width: 999px ) {
	.about-property-outer .vc_col-sm-4 .vc_column-inner{
		padding-left: 20px !important;
	}
	.about-property-outer .vc_col-sm-4 .vc_column-inner .about-property-info-outer .property-status{
		float:left;
		margin:10px 0 0 0;
	}
	.about-property-outer .vc_col-sm-8 .vc_column_container.vc_col-sm-2{
		width:30% !important;
	}
	section.inner-page-features .vc_column-inner{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
	section.inner-features-villa .feature-villa {
	    padding-right: 15px !important;
	    padding-left: 15px !important;
	}
}

/* style 16-07-2016 */
.dreamvilla-testimonial.multiple-people-to-say{background: none !important;}
.dreamvilla-testimonial-variation-1.multiple-people-to-say{background: none !important;}

.multiple-featured-properties .left-right-arrow {
 top: 20px;
}
.multiple-featured-properties .multiple-featured-col.col-md-6,
.multiple-recent-properties .multiple-featured-col.col-md-3 {
 padding: 0 0 50px 0;
}
.multiple-recent-properties {
 padding: 0px !important;
}

/* Dreamvilla List Style */
ul.dreamhome-list {
	padding: 0px;
	color: #ffffff !important;
	list-style: none;
	margin-bottom: 15px;
}
ul.dreamhome-list li {
	margin-bottom: 10px;
	line-height: 2;
	font-family: "Lato",sans-serif;
	font-size: 16px;
	position: relative;
}
ul.dreamhome-list.plus,
ul.dreamhome-list.minus,
ul.dreamhome-list.star,
ul.dreamhome-list.arrow, 
ul.dreamhome-list.arrow2,
ul.dreamhome-list.square,
ul.dreamhome-list.circle,
ul.dreamhome-list.cross,
ul.dreamhome-list.check,
ul.dreamhome-list.check2,
ul.dreamhome-list.mappin {
	padding-left: 25px;
	position: relative;
}
ul.dreamhome-list.plus li:before,
ul.dreamhome-list.minus li:before, 
ul.dreamhome-list.star li:before,
ul.dreamhome-list.arrow li:before,
ul.dreamhome-list.arrow2 li:before,
ul.dreamhome-list.square li:before,
ul.dreamhome-list.circle li:before,
ul.dreamhome-list.cross li:before,
ul.dreamhome-list.check li:before,
ul.dreamhome-list.check2 li:before,
ul.dreamhome-list.mappin li:before  {
	position: absolute;
	font-family: "FontAwesome";
	left: -25px;
	font-size: 30px;
	margin-top: -15px;
}
ul.dreamhome-list.plus li:before {
	content: "\f067"; /* FontAwesome Unicode */
}
ul.dreamhome-list.minus li:before {
	content: "\f068"; /* FontAwesome Unicode */
}
ul.dreamhome-list.star li:before {
	content: "\f005"; /* FontAwesome Unicode */
}
ul.dreamhome-list.arrow li:before {
	content: "\f104"; /* FontAwesome Unicode */
}
ul.dreamhome-list.arrow2 li:before {
	content: "\f100"; /* FontAwesome Unicode */
}
ul.dreamhome-list.square li:before {
	content: "\f096"; /* FontAwesome Unicode */
}
ul.dreamhome-list.circle li:before {
	content: "\f10c"; /* FontAwesome Unicode */
}
ul.dreamhome-list.cross li:before {
	content: "\f00d"; /* FontAwesome Unicode */
}
ul.dreamhome-list.check li:before {
	content: "\f00c"; /* FontAwesome Unicode */
}
ul.dreamhome-list.check2 li:before {
	content: "\f046"; /* FontAwesome Unicode */
}
ul.dreamhome-list.mappin li:before {
	content: "\f041"; /* FontAwesome Unicode */
}
/* Style for amenities section */
.slider_div.carousel {
	position: relative;
	border: 15px solid #ffffff;
	box-shadow: 0 0 3px #d3d9dd;
	overflow: hidden;
}
.slider_div.carousel img {
	width: 100%;
}
.slider_div.carousel .label-dimension {
	background-color: #ff551a;
	bottom: 0;
	min-height: 82px;
	min-width: 130px;
	padding: 15px 0 11px 22px;
	position: absolute;
	right: 0;
	color: #ffffff;
}
.slider_div.carousel .label-dimension p {
	color: #ffffff;
	font-family: "Montserrat",sans-serif;
	font-weight: bold;
	margin: 0 !important;
}
.slider_div.carousel .label-dimension p.size {
	font-size: 24px;
}
.slider_div.carousel .carousel-indicators li {
	background-color: #ffffff !important;
	border: 1px solid #ffffff !important;
	border-radius: 10px;
	cursor: pointer;
	height: 12px !important;
	margin: 0 1px !important;
	width: 12px !important;
}
.slider_div.carousel .carousel-indicators li.active {
	background-color: #31a2e1 !important;
	border-color: #31a2e1 !important;
	height: 12px;
	margin: 0 1px !important;
	width: 12px;
}
/* Style for photo gallery section */
.photogallery {
	margin-left: -15px;
	margin-right: -15px;
}
.photogallery ul {
	list-style: none;
	padding: 0px;
}
.photogallery ul li {
	float: left;
	position: relative;
	border: 1px solid #ffffff;
}
.photogallery ul li .image_description {
	background: rgba(28, 173, 77, 0.9) none repeat scroll 0 0;
	border-radius: 100%;
	cursor: pointer;
	height: 100%;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	top: 0;
	transform: scale(0);
	transition: all 0.7s ease-out 0s;
	width: 100%;
	z-index: 1;
    -webkit-transition: all 0.7s ease-out 0s;
    -ms-transition: all 0.7s ease-out 0s;
    -o-transition: all 0.7s ease-out 0s;
    -moz-transition: all 0.7s ease-out 0s;
    transition: all 0.7s ease-out 0s;
	cursor:pointer;
    overflow: hidden;
    -webkit-transform:scale(0);
    -moz-transform:scale(0);
    -o-transform:scale(0);
    -ms-transform:scale(0);
    transform:scale(0);
    border-radius:100%;	
}
.photogallery ul li:hover .image_description {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -o-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    border-radius:0;  
}

.photogallery ul li .image_description .icon {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    border-radius: 50%;
    color: #5738ad;
    font-size: 30px;
    height: 48px;
    margin: 25% auto 15px;
    text-align: center;
    width: 48px;
}
.photogallery ul li .image_description p {
	color: hsl(0, 0%, 100%) !important;
	font-family: "Montserrat",sans-serif;
	font-size: 16px;
	font-weight: 800;
	text-align: center;
    text-transform: uppercase;
}
@media (min-width: 200px ) and (max-width: 370px ) {

	.contact_our_agent .agent_contact_detail ul li {
	    float: left;
	    padding-top: 10px;
	    width: 100% !important;
	}
	section.contact_our_agent .agent_contact_detail ul li p {
	    padding-left: 0;
	}
	.contact_our_agent .agent_contact_detail ul {
	    width: 100%;
	}

}
@media (min-width: 200px ) and (max-width: 767px ) {

	.photogallery ul li .image_description .icon{
		margin: 25% auto 15px;
	}
}
@media screen and (min-width: 2000px){
	.photogallery ul li .image_description .icon {
  		margin: 30% auto 15px;

 	}
}
/* Style for contact form 7 */
.wpcf7-form-control {
	background: #0e90d9 none repeat scroll 0 0;
	border: medium none #0e90d9 !important;
	color: #b1e2ff;
	font-family: "Lato",sans-serif;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 10px 20px 12px;
	resize: none;
	width: 100%;
}
textarea.wpcf7-form-control  {
	color: #b1e2ff;
	height: 95px;
	margin-bottom: 10px;
}
.wpcf7-form-control.wpcf7-submit {
	background: #ffffff;
	color: #0e90d9;
	font-family: "Montserrat",sans-serif !important;
	font-size: 14px;
	font-weight: 900;
	margin: 10px 0 0 !important;
	transition: all 0.2s ease 0s;
}
.wpcf7-form-control.wpcf7-submit:hover {
	background: #435060;
	color: #ffffff;
}
h3.agent-name {
	color: #fff !important;
	font-family: "Montserrat",sans-serif;
	font-size: 14px !important;
	font-weight: 900;
	margin: 0;
	padding-bottom: 10px;
	text-transform: unset;
}
.agent_contactform_photo {
	width: 100%;
	height: auto;
}
.agent_contact_info_footer p, 
.agent_contact_info_footer a {
	color: #ffffff;
	font-family: "Lato",sans-serif;
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 10px;
}
.agent_contact_info_footer p {
	line-height: 1;
	color: #FFFFFF;
	word-break: break-all;
}
.agent_contact_info_footer p a {
	color: #FFFFFF;
}
.agent_contact_info_footer p span {
	margin-right: 5px;
}
p.certified-agent {
	color: #c3eaff;
}
.col-md-6.address-area {
	border-right: 1px solid #505d6f;
	margin: 48px 30px 0 0;
	padding-right: 0;
	width: 47%;
	word-wrap: break-word;
}
.address {
	padding-bottom: 29px;
}
.address-area p, 
.time-detail p, 
.contact-detail a {
	color: #a5b4c7;
	font-family: "Lato",sans-serif;
	font-size: 14px;
	line-height: 15px;
	margin-bottom: 10px;
}
.address-area p span {
	color: #ffffff;
	font-weight: bold;
}
.col-md-5.time-detail {
	margin: 48px 0 0;
}
.time-detail h6 {
	color: #ffffff !important;
	font-family: "Lato",sans-serif;
	font-size: 14px !important;
	font-weight: bold;
	margin: 0;
	padding-bottom: 25px;
}
.time-detail .button {
	margin-top: 10px;
}
/*Style for iamge model nevigations */
#image_lightbox img {
	height: auto;
	width: 100%;
}
.previous_image_btn {
	border: medium none;
	border-radius: 50%;
	height: 50px;
	left: 35px;
	opacity: 0.75;
	outline: medium none;
	position: absolute;
	top: 45%;
	width: 50px;
}
.next_image_btn {
	border: medium none;
	border-radius: 50%;
	height: 50px;
	opacity: 0.75;
	outline: medium none;
	position: absolute;
	right: 35px;
	top: 45%;
	width: 50px;
}
/* Style For Link */
a.magicmore {
	color: #435061;
	font-family: "Montserrat";
	font-size: 14px;
}
a.magicmore:hover,
a.magicmore:focus,
a.magicmore:active
 {
	text-decoration: none;
}
a.magicmore i {
	margin-left: 10px;
}
/* Style for contact form model */
.wpcf7-form > ul {
	list-style: outside none none;
	padding: 0;
}
.wpcf7-form li {
	float: left;
	padding-right: 10px;
	width: 50%;
}
.wpcf7-form li:last-child {
	padding: 0px;
}
.wpcf7-form li .wpcf7-validation-errors {
	float: left;
}
.wpcf7-form li .send-message {
	background: #ff551a none repeat scroll 0 0 !important;
	color: white !important;
	font-family: "Lato",sans-serif;
	font-size: 15px;
	font-weight: 900;
	margin: 0 0 0 !important;
	padding: 10px 0;
	transition: all 0.2s ease 0s;
}
.wpcf7-form li input, 
.wpcf7-form li textarea {
	background: #d9e8f0 none repeat scroll 0 0;
	border: medium none !important;
	color: #435061;
	font-family: "lato",sans-serif;
	font-size: 14px;
	margin: 0 15px 10px 0 !important;
	padding: 10px 20px !important;
	width: 100%;
}
.wpcf7-form li textarea {
	height: 89px !important;
	margin: 0 0 8px !important;
	resize: none;
	width: 100% !important;
}
ul.agent-info {
	padding: 0px;
	list-style: none;
	float: left;
	width: 100%;
}
ul.agent-info li:first-child {
	border: medium none;
	width: 75%;
}
ul.agent-info li {
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	width: 25%;
}
ul.agent-info li img.agent-img {
	float: left;
	height: 100px;
	margin-right: 20px;
	width: 100px;
}
ul.agent-info h5 {
	clear: none;
	color: #505c6b;
	font-family: "Montserrat",sans-serif;
	font-size: 15px;
	font-weight: 900;
	margin: 10px 0 8px;
	padding: 0;
	text-transform: unset;
}
ul.agent-info h5 span {
	color: #8291a3;
	font-family: "Lato",sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.agent-info img {
	width: 100%;
}
.agent-info .glyphicon.glyphicon-earphone, 
.agent-info .glyphicon.glyphicon-envelope {
	color: #0e90d9;
	margin-right: 10px;
}
.agent-info li p a, #visiter_message {
	color: #435061 !important;
}
.agent-info li p a {
	font-family: "Lato",sans-serif;
}
.modal-header h4 {
	margin-bottom: 0px;
	clear: none;
	color: #435061;
	font-family: "Montserrat",sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
}
.wpcf7 {
	float: left;
	width: 100%;
}
#inner-faq-agent-form h1 {
	color: rgb(255, 255, 255);
    font-family: "Montserrat",sans-serif;
    font-size: 14px !important;
    font-weight: 900;
    margin: 0;
    padding-bottom: 18px;
    text-transform: uppercase;
    margin: 10px 0 0;
}
.vc_toggle.vc_toggle_round.vc_toggle_color_default {
	padding: 7px 0;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
	float: left;
}

/* style 18-07-2016 */
/* Icon Box */
.dreamvilla_iconbox_variation_2.services-we-offer{font-size:14px !important; padding: 0px !important;}
.dreamvilla_iconbox_variation_2.services-we-offer h4.service-heading{ margin-bottom: 15px !important; }
.dreamvilla_iconbox_variation_2.services-we-offer .second-row-service-we-offer {margin-bottom: 30px !important;}
.dreamvilla_iconbox_variation_2.services-we-offer .services-we-offer-part {
    margin-top: 0px !important;
}
.dreamvilla_iconbox_variation_3 .inner-feature-villa{  margin: 33px 0 30px !important; }
.dreamvilla_iconbox_variation_4.inner-page-features{ padding : 0px !important; }
.dreamvilla_iconbox_variation_4.inner-page-features ul li{ margin-bottom: 25px !important; }

/* custom style 19-07-2016 */
.inner-page-left-sidebar li, .inner-page-right-sidebar li {
    background: none !important;
    /*font-weight: normal !important;
    padding: 0 0 0 15px !important;*/
}

/* custom style 20-07-2016 */
#multiple-valuable-clients-img-area {
    margin-top: 0px !important;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid > li {
    margin-bottom: 0px !important;
}
.vc_tta-tab a {
	color: #4b5867 !important;
}
.inner-page-left-sidebar h1, .inner-page-right-sidebar h1 {
    margin: 0 0 0px !important;
}
.inner-page-left-sidebar p, .inner-page-right-sidebar p {
    margin: 0px 0 0 !important;
}
@media screen and (max-width: 767px) {
	.dreamvilla_iconbox_variation_3 .inner-feature-villa {
    	margin: 0 !important;
	}
}
delete-favorites-property, .open-login-regster-model, .add-favorites-property {
    padding: 20px !important;
}

/* custom code */
/* aminities block */
.property-description-outer .sub-title{
	font-family: "Montserrat" !important;
}
.amenities-left .vc_column-inner{
    float: left;
    height: auto;
    overflow: hidden;
    width: 100%;
}
.amenities-right .vc_column-inner{
    background: #ffffff none repeat scroll 0 0;
    float: left;
    height: auto;
    padding: 30px 20px;
    width: 100%;
}
.amenities-right.wpb_column.vc_column_container.vc_col-sm-6 {
    margin-left: -15px;
}
@media (min-width: 200px ) and (max-width: 767px ) {

	.property-description-outer .vc_col-sm-6 .vc_column-inner.vc_custom_1471583390741{
		padding-left: 10px !important;
	}
	.property-description-outer .vc_col-sm-6 .vc_column-inner.vc_custom_1471600412501{
		padding-right: 15px !important;
	}
	.vc_col-sm-4 .schedule-visit{
		margin-bottom: 40px;
	}
}
@media (min-width: 768px ) and (max-width: 999px ) {

	.property-description-outer .vc_col-sm-6 .vc_column-inner.vc_custom_1471583390741{
		padding-left: 10px !important;
	}
	.property-description-outer .vc_col-sm-6 .vc_column-inner.vc_custom_1471600412501{
		padding-right: 15px !important;
	}
	.vc_col-sm-4 .schedule-visit{
		margin-left: 55px;
	}
	ul.dreamhome-list.plus li::before, ul.dreamhome-list.minus li::before, ul.dreamhome-list.star li::before, ul.dreamhome-list.arrow li::before, ul.dreamhome-list.arrow2 li::before, ul.dreamhome-list.square li::before, ul.dreamhome-list.circle li::before, ul.dreamhome-list.cross li::before, ul.dreamhome-list.check li::before, ul.dreamhome-list.check2 li::before, ul.dreamhome-list.mappin li::before{
		margin-top: -10px;
	}

}
/* Room demensions block */
section.room_dimensions ul.wpb_tabs_nav {
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
section.room_dimensions ul.wpb_tabs_nav li {
    display: inline-block;
    list-style: outside none none;
    padding: 25px !important;
    float:none;
}
section.room_dimensions ul.wpb_tabs_nav li a {
    color: #495376;
    font-family: "Lato";
    font-size: 16px;
    text-decoration: none;
}
section.room_dimensions .ui-widget-header {
    background: none;
    border: none;
    color: #ffffff;
    font-weight: normal;
    border: none;
}
section.room_dimensions .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: none;
}
section.room_dimensions .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: none;
}
section.room_dimensions .wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab{
	background-color:#ffffff;
}
section.room_dimensions .ui-widget-content {
    background: none;
    border: none;
}
section.room_dimensions .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
	border: none !important;
}
section.room_dimensions .wpb_tab .tabs-image .vc_column-inner {
	padding-left: 0px;
	padding-right: 0px;
}
section.room_dimensions .room_dimensions_detail ul li{
	margin-right: 30px;
	margin-bottom: 50px;
}
section.room_dimensions .room_dimensions_detail{
	padding: 45px 10px 0 75px !important;
	min-height: 416px;
}
section.room_dimensions .ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 0px;
}
section.room_dimensions ul.wpb_tabs_nav li.ui-tabs-active a {
    color: #5738ad !important;
    font-weight: bold !important;
}
section.room_dimensions .room_dimensions_detail .dimensios_label {
    color: #d1c0ff !important;
    font-family: "Montserrat" !important;
    font-size: 16px !important;
    margin: 0 ;
    padding: 0;
}
section.room_dimensions .room_dimensions_detail p {
    color: #a794dc !important;
    font-family: "Lato" !important;
    font-size: 16px !important;
    line-height: 1.8;
}
@media (min-width: 200px ) and (max-width: 767px ) {

	section.room_dimensions .room_dimensions_detail{
		padding: 45px 10px 0 50px !important;
	}
	section.room_dimensions ul.wpb_tabs_nav li{
		width: 100%;
	}
	.room_dimensions .room_dimensions_detail ul li {
	    margin-right: 10px !important;
	}
}
/* Contact Agent and form block */
section.contact_our_agent .agent-certificate {
    color: hsl(195, 100%, 96%) !important;
    font-family: "Montserrat" !important;
    font-size: 14px !important;
}
section.contact_our_agent .agent_contact_detail ul li p, section.contact_our_agent .agent_contact_detail ul li a {
    color: hsl(0, 0%, 100%) !important;
    font-family: "Lato";
    font-size: 15px !important;
}
section.contact_our_agent .agent_contact_form input[type="text"], section.contact_our_agent .agent_contact_form input[type="email"], section.contact_our_agent .agent_contact_form textarea {
    border: 1px solid hsl(256, 39%, 62%) !important;
    background: hsl(256, 38%, 43%) none repeat scroll 0 0 !important;
}
section.contact_our_agent .agent_contact_form .agent_submit{
	width: auto !important;
}
section.contact_our_agent .wpcf7-response-output{
	border: 1px solid hsl(256, 39%, 62%) !important;
	background: hsl(256, 38%, 43%) none repeat scroll 0 0 !important;
	color: hsl(194, 85%, 89%) !important;
	float:left;
}
section.contact_our_agent span.wpcf7-not-valid-tip{
	display: inline-block;
}
@media (min-width: 200px ) and (max-width: 767px ) {

	section.contact_our_agent .vc_col-sm-6 .vc_column-inner{
		padding-left: 15px !important;
	}
	section.contact_our_agent .max-title h1 span.title_with_line.after::after, .max-title h2 span.title_with_line.after::after, .max-title h3 span.title_with_line.after::after, .max-title h4 span.title_with_line.after::after, .max-title h5 span.title_with_line.after::after, .max-title h6 span.title_with_line.after::after{
		bottom:-35px !important;
	}
}
@media (min-width: 768px ) and (max-width: 990px ) {

	section.contact_our_agent .vc_column_container.vc_col-sm-6{
		width: 100%;
	}

}
/* address and map area css */
section.location_details .address_area .max-title h1 span.title_with_line.after::after, .max-title h2 span.title_with_line.after::after, .max-title h3 span.title_with_line.after::after, .max-title h4 span.title_with_line.after::after, .max-title h5 span.title_with_line.after::after, .max-title h6 span.title_with_line.after::after{
	background: #5D678B none repeat scroll 0 0 !important;
}
section.location_details .address_area p, .location_details .address_area a {
    color: hsl(0, 0%, 100%) !important;
    font-family: "Lato";
    font-size: 14px !important;
    line-height: 1 !important;
    text-decoration: none !important;
}
section.location_details .address_area {
    padding: 90px 0 90px 50px;
}
.vc_column_container .description {
    color: hsl(209, 12%, 55%);
    font-family: "Lato",sans-serif;
    font-size: 16px;
    line-height: 1.9;
    margin: 25px auto 40px !important;
    text-align: center !important;
    width: 100%;
}
.vc_column_container .buttons-center {
    float: left;
    margin: 0px 0 50px;
    text-align: center;
    width: 100%;
}
@media (min-width: 768px ) and (max-width: 990px ) {

	section.location_details .address_area {
	    padding: 90px 0 47px 30px;
	}
}

/* style for gallery blcok tabs */
.gallery.vc_tta-tabs .vc_tta-tab > a {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: none;
}
.gallery.vc_tta-tabs .vc_tta-tab a .vc_tta-title-text {
    color: hsl(227, 24%, 37%) ;
    font-family: "Lato" !important;
    font-size: 16px !important;
}
.gallery.vc_tta-tabs .vc_tta-tab.vc_active a .vc_tta-title-text {
    font-family: "Lato" !important;
    font-size: 16px !important;
    color: hsl(256, 51%, 45%);
    font-weight: bold;
}
.gallery .vc_tta-title-text:hover {
    color: hsl(256, 51%, 45%) !important;
}
@media (min-width: 200px ) and (max-width: 767px ) {

	.photogallery ul li{
		width:100% !important;
	}
}

/* style for faq tabs block */
.vc_toggle_round .vc_toggle_icon {
    background-color: hsl(140, 72%, 44%)!important;
    border-radius: 50%;
    height: 30px !important;
    width: 30px !important;
}
.vc_toggle_round.vc_toggle_active .vc_toggle_icon {
    background-color: hsl(256, 51%, 45%)!important;
}
.vc_toggle_round .vc_toggle_title h4{
    color: hsl(214, 19%, 32%);
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
/* style for contact form */
.inner-contact-agent-area #wpcf7-f1618-o1 .col-md-6.col-sm-6.col-xs-12 {
    padding-left: 0;
    padding-right: 15px;
}
.location_details .address_area .schedule_visite:hover {
    background: hsl(222, 71%, 97%) none repeat scroll 0 0;
    color: hsl(227, 24%, 37%) !important;
}
section.inner-contact-agent-area{
	padding: 0px;
}
.inner-contact-address p {
    color: hsl(214, 19%, 32%) !important;
}
.inner-contact-address p {
    font-size: 14px;
    line-height: 1;
}
..inner-contact-address p {
    color: hsl(209, 12%, 55%);
    font-family: "lato",sans-serif;
    font-size: 16px;
    line-height: 1.9;
}

/* Revolution slider css */
.hesperiden .tp-bullet{
	border:none;
}
.hesperiden .tp-bullet:hover, .hesperiden .tp-bullet.selected {
    background: hsl(0, 0%, 100%) none repeat scroll 0 0 !important;
}
.hesperiden .tp-bullet{
	background-color: hsla(0, 0%, 100%, 0.5) !important;
}

.slider .schedule-visit-form-container .schedule-visit-form-inner{
	z-index: 11;
}
@media (min-width: 200px ) and (max-width: 350px ) {
	#rev_slider_2_1_wrapper{
		height: 150px !important;
	}
	.tp-fullwidth-forcer{
		height: 150px !important;
	}
}
@media (min-width: 351px ) and (max-width: 400px ) {
	#rev_slider_2_1_wrapper{
		height: 200px !important;
	}
	.tp-fullwidth-forcer{
		height: 200px !important;
	}
}
@media (min-width: 401px ) and (max-width: 500px ) {
	#rev_slider_2_1_wrapper{
		height: 250px !important;
	}
	.tp-fullwidth-forcer{
		height: 250px !important;
	}
}
@media (min-width: 501px ) and (max-width: 600px ) {
	#rev_slider_2_1_wrapper{
		height: 300px !important;
	}
	.tp-fullwidth-forcer{
		height: 300px !important;
	}
}
@media (min-width: 601px ) and (max-width: 767px ) {
	#rev_slider_2_1_wrapper{
		height: 400px !important;
	}
	.tp-fullwidth-forcer{
		height: 400px !important;
	}
}
@media (min-width: 768px ) and (max-width: 900px ) {
	#rev_slider_2_1_wrapper{
		height: 500px !important;
	}
	.tp-fullwidth-forcer{
		height: 500px !important;
	}
}
@media (min-width: 768px ) and (max-width: 995px ) {

	.schedule-visit-form-container{
		display: none;
	}
	.main-menu .nav.navbar-nav li.menu-schedule-visite-li {
	    position: absolute;
	    right: -20px !important;
	}
}

/* Near by place block css */
.near_by_places ul li p {
    color: hsl(215, 19%, 32%) !important;
    font-family: "Montserrat" !important;
}
.near_by_places{
	padding: 25px 0px !important;
}
.near-by-place-map #googleMapNearestPlaces{
	width:100% !important;
}

/* sidebar css */
aside.sidebar {
    margin-top: 100px;
}
.sidebar #inner-faq-agent-info-detail img{
	width: auto;
}

/* booking calender Style css */
.row-wrapper-x form#frmshoppingcart {
    margin-top: 450px !important;
}
.row-wrapper-x form #btncheckout{
	margin-bottom: 50px !important;
}

/* custom css */
.schedule_visit_href_btn.hover_btn:hover{
	background-color: #5738AD !important;
}
.aminities-space .vc_row.wpb_row.vc_inner.vc_row-fluid{
	margin-right: 0px;
}
.footer p.footer_copyright_text{
	margin-bottom: 0px !important;
}
section.inner-page-features .max-title h1.text-center {
	margin-top:0px;
}
#cancel-comment-reply-link {
    background-color: hsl(214, 18%, 32%);
    color: hsl(0, 0%, 100%);
    display: block;
    float: left;
    font-family: "Montserrat",sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    line-height: 2.2;
    margin-bottom: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    width: 150px;
}
#cancel-comment-reply-link:hover{
	background-color: hsl(140, 72%, 44%);
}
.default-list li {
    background: hsla(0, 0%, 0%, 0) url("../images/ul-li-list-style.png") no-repeat scroll left 9px;
    color: hsl(214, 18%, 32%);
    font-family: "Lato",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0 25px;
}
.inner-space p {
	line-height: 1 !important;
}
.left-con-part {
    padding-left: 0;
}
.right-con-part {
    padding-right: 0;
}
@media (min-width: 200px ) and (max-width: 767px ) {

	.left-con-part {
	    padding-left: 0;
	    padding-right: 0;
	}
	.right-con-part {
		padding-left: 0;
	    padding-right: 0;
	}
	.vc_column-inner.vc_custom_1472622531739 {
	    padding-left: 15px !important;
	}
	.max-title h1 span.title_with_line.after::after, .max-title h2 span.title_with_line.after::after, .max-title h3 span.title_with_line.after::after, .max-title h4 span.title_with_line.after::after, .max-title h5 span.title_with_line.after::after, .max-title h6 span.title_with_line.after::after{
		bottom: -35px;
	}
	.inner-page-features .room-dimension-detail .featureicon.pull-left {
	    float: none !important;
	    margin: 40px 15px 0 0;
	    text-align: center;
	}
	.inner-page-features ul li {
	    list-style: outside none none;
	    margin-bottom: 55px;
	    width: 100%;
	    float:left;
	}
	.inner-page-features .room-dimension-detail .featureicon-right {
	    margin-bottom: 25px !important;
	    text-align: center;
	    width: 100% !important;
	}

}